startup --output_user_root=build --output_base=build/example --max_idle_secs=3
startup --windows_enable_symlinks

build --enable_runfiles
build --features=generate_pdb_file

# Enable modern C++ features
build:windows --cxxopt="/std:c++20"
build:windows --host_cxxopt="/std:c++20"

build:macos --cxxopt="-std=c++20"
build:macos --host_cxxopt="-std=c++20"

build:linux --cxxopt="-std=c++20"
build:linux --host_cxxopt="-std=c++20"

# Configuration

## For Windows
build:windows --build_tag_filters="common,windows"

build:windows --copt="/Z7"
build:windows --copt="/utf-8"
build:windows --copt="/Zc:__cplusplus"

build:windows --linkopt="/DEBUG"

build:debug --compilation_mode=dbg

build:release --compilation_mode=opt

## For macOS
build:macos --build_tag_filters="common,macos"

build:debug --compilation_mode=dbg

build:release --compilation_mode=opt

## For Linux
build:linux --build_tag_filters="common,linux"

build:debug --compilation_mode=dbg

build:release --compilation_mode=opt
